@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-principal: #000000;
    --cor-secundaria:#FFFFFF;
    --cor-terciaria: #c00bf7;
    --cor-hover:#ff3399;

    --font-primaria:'Krona One', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;
}

*{
    margin:0;
    padding: 0;
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-size: 2rem;
    font-family: var(--font-primaria);
}
.apresentacao__conteudo__texto{
    font-size: 20px;
    font-family: var(--font-secundaria);
    text-align: justify;
}
body {
    box-sizing: border-box;
    /* height: 100vh; */
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 10%;
}
.cabecalho__menu__link{
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}
.cabecalho__menu__link:hover{
    color:var(--cor-secundaria);
}
.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    gap: 32px;
}

.apresentacao__links__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}
.apresentacao__links__link__comprimir{
    width: 30px;
    height: 30px;
}
.apresentacao__links__link{
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    gap:16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size:1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover{
    background-color:var(--cor-hover);
    /* padding: 2%; */
}
.apresentacao__imagem{
    width: 50%;
}
.rodape{
    background-color:var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}

@media(max-width: 728px){
    .cabecalho{
        padding:10% ;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}